
###########
# SECRET
###########

MQTT_HOST=mqtt://mosquitto:1883
MQTT_HOST_CLEAR_DNS=mosquitto
SERVICE_ROLE_KEY=serviceKey


# --- ecs-mach-pub ---
PUB_DEVICES_2bit=
PUB_MQTT_TOPIC=mqtt topic
PUB_DEVICES_16bit=D,800,1,D,820,1,D,840,1,D,3026,1,D,3028,1,D,3048,1
PUB_MQTTS_ON=false
PUB_PLC_HOST=192.168.3.82
PUB_PLC_MODEL=
PUB_PLC_PORT=5011
PUB_PPROFT_PORT=6060


# --- ecs-mach-pub-degas ---
DEGAS_DEVICES_32bit=D,2870,1
DEGAS_MQTT_TOPIC=mqtt topic
DEGAS_MQTTS_ON=false
DEGAS_PLC_HOST=192.168.3.81
DEGAS_PLC_MODEL=fx
DEGAS_PLC_PORT=5013
DEGAS_PPROFT_PORT=6062

# --- ecs-mach-mcs-pub ---
MCS_PUB_DEVICES_16bit=D,6364,1,D,6464,1,D,6564,1,D,1021,4,D,1022,4,D,1023,4,D,1016,1,D,1017,1,D,1018,1,D,26,1,D,27,1,D,28,1
MCS_PUB_DEVICES_2bit=M,3930,3
MCS_PUB_DEVICES_32bit=
MCS_PUB_DEVICES_ASCII=D,1010,4,D,1011,4,D,1012,4,D,1013,4,D,1014,4,D,1015,4,D,1020,4,D,1021,4,D,1022,4,D,1023,4
MCS_PUB_MQTT_TOPIC=mqtt topic
MCS_PUB_MQTTS_ON=false
MCS_PUB_PLC_HOST=192.168.3.84
MCS_PUB_PLC_MODEL=
MCS_PUB_PLC_PORT=5013
MCS_PUB_PPROFT_PORT=6061


# --- ecs-mach-sub ---
SUB_API_URL=https://xxxx.supabase.co/rest/v1/tableName
SUB_BASH_API="POST"
CYCLE_ANCHOR_TOPIC=d1010
CYCLE_MODE_ENABLED=true
CYCLE_TIMEOUT_SEC=6
INSERT_MODE=
SUB_MQTT_PORT=1883
SUB_MQTT_TOPIC=mqtt topic+
SUB_MQTTS_ON=false
SUB_TRIGGER_DEVICE=d800,holdmcs



###########
# KEY TRANSFORMATION
###########
## Trigger Device key
CASE_6_TRIGGER_ch1=d800
CASE_6_TRIGGER_ch2=d820
CASE_6_TRIGGER_ch3=d840
CASE_6_DO_do=d2870
CASE_6_TRIGGER_NUMBERofSTATE=7

HOLD_KEY_TRANSOFRMATION_weightch1_ch1_weighing=d6364
HOLD_KEY_TRANSOFRMATION_weightch2_ch2_weighing=d6464
HOLD_KEY_TRANSOFRMATION_weightch3_ch3_weighing=d6564

# Trigger Device key CASE 7 & CASE 8
CASE_7_TRIGGER_WEIGHING_CH1=m3930
CASE_7_TRIGGER_WEIGHING_CH2=m3930
CASE_7_TRIGGER_WEIGHING_CH3=m3930


# CASE9 or CASE10 
CASE_9_MN_MODEL_NAME_RE0=d1010
CASE_9_MN_MODEL_NAME_RE1=d1011
CASE_9_MN_MODEL_NAME_RE2=d1012
CASE_9_MN_MODEL_NAME_RE3=d1013
CASE_9_MN_MODEL_NAME_RE4=d1014
CASE_9_MN_MODEL_NAME_RE5=d1015
CASE_9_LI_INK_LOT_RE0=d1020
CASE_9_LI_INK_LOT_RE1=d1021
CASE_9_LI_INK_LOT_RE2=d1022
CASE_9_LI_INK_LOT_RE3=d1023
KEY_TRANSFORMATION_UPPER_LIMIT=d1017
KEY_TRANSFORMATION_STANDARD=d1016
KEY_TRANSFORMATION_LOWER_LIMIT=d1018


# docker exec -it mosquitto_container mosquitto_sub -h localhost -p 1883 -t 'mqtt topicD26' -v